<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.camera" />
    <application
        android:allowBackup="true"
        android:name="TestApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.example.test.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.layout.CycleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CYCLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.layout.FrameActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.FRAME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.layout.MergeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MERGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.layout.LinearActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.LINEAR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.layout.RelativeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.RELATIVE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.layout.TableActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.TABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAYOUT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.layout.ReusableActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.REUSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        
        <activity
            android:name="com.example.test.controls.ButtonActivity"
            android:label="@string/app_name" >
            <meta-data
    		android:name="com.test.meta_data1"
    		android:value="x_key" />
			<meta-data
    		android:name="com.test.meta_data2"
    		android:value="@string/meta_data2" />
			<meta-data
    		android:name="com.test.meta_data3"
    		android:resource="@drawable/ic_launcher" />
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
     
        <activity
            android:name="com.example.test.controls.ColorListviewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.controls.COLORLISTVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.controls.ScrollviewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.controls.SCROLLVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.controls.OthersActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.controls.OTHERS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.fileio.SharedPreferencesActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.fileio.SHAREDPREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.fileio.DataBaseActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.fileio.DATABASE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       
        <activity
            android:name="com.example.test.asynctask.AsyncTaskActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.asynctask.ASYNCTASK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
       <activity
            android:name="com.example.test.customlistview.CustomListViewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CUSTOMLISTVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.xml.XmlActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.XML" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.camera.SystemCameraActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SYSTEMCAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.test.camera.CustomCameraActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CUSTOMCAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.video.VideoViewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIDEOVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.html.HtmlCanvasActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.HTMLCANVAS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.crime.CrimeListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CRIMELIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.test.crime.CrimePagerActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.test.slide.SlideMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SLIDEMENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.test.slide.InfoActivity"
            android:label="@string/app_name">
        </activity>
        
        <activity
            android:name="com.example.test.chatting.ChattingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CHATTING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.loopad.LoopAdActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.LOOPAD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.viewpager.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEWPAGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.example.test.bitmap.MainActivity"
            android:label="@string/app_name" 
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.BITMAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.ndk.MyJni"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.NDK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.test.aidl.AidlClientActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.AIDL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		 <service android:name="com.example.test.aidl.AidlService" android:process=":remote">
			<intent-filter>
				<action android:name="com.example.test.aidl.AidlService" />
			</intent-filter>
		</service>
		
		<activity
            android:name="com.example.test.location.LocationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.LOCATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<activity
            android:name="com.example.test.dialog.DialogActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DIALOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<activity
            android:name="com.example.test.notification.NotificationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
	   <activity
            android:name="com.example.test.application.FirstActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
	   <activity
            android:name="com.example.test.application.SecondActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
	   	<activity
            android:name="com.example.test.contentobserver.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CONTENTOBSERVER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
	   <activity
            android:name="com.example.test.contentprovider.TeacherActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CONTENTPROVIDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider 
            android:name="com.example.test.contentprovider.TeacherContentProvider" 
            android:authorities="yj.android.contentProvider" 
            android:multiprocess="false">
        </provider>
        
         <activity
           android:name="com.example.test.qqauth.MainActivity"
           android:label="@string/app_name">
	        <intent-filter>
	            <action android:name="android.intent.action.QQAUTH" />
	        </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent222222" />
                <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

         <activity
            android:name="com.example.test.sensors.ListViewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SENSORS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.test.sensors.Accelerometer"/>
        <activity android:name="com.example.test.sensors.AmbientTemperature"/>
        <activity android:name="com.example.test.sensors.Gravity"/>
        <activity android:name="com.example.test.sensors.Gyroscope"/>
        <activity android:name="com.example.test.sensors.Light"/>
        <activity android:name="com.example.test.sensors.LinearAccelerometer"/>
        <activity android:name="com.example.test.sensors.Magnetic"/>
        <activity android:name="com.example.test.sensors.Orientation"/>
        <activity android:name="com.example.test.sensors.Pressure"/>
        <activity android:name="com.example.test.sensors.Proximity"/>
        <activity android:name="com.example.test.sensors.Rotation"/>
        <activity android:name="com.example.test.sensors.Temperature"/>
    </application>
</manifest>
